{
  "cache": false,
  "check-coverage": true,
  "all": true,
  "extension": [
    ".ts"
  ],
  "exclude": [
    "gulpfile.js",
    "examples/**",
    "**/fixtures/**",
    "**/*.d.ts",
    "coverage/**",
    "packages/*/test/**",
    "test/**",
    "test{,-*}.ts",
    "**/*{.,-}{test,spec}.ts",
    "**/__tests__/**",
    "**/node_modules/**"
  ],
  "require": [
    "source-map-support/register"
  ],
  "reporter": "html"
}